/* custom css */

body {
    background-color: #efeeef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
}

.carousel-inner {
    height: 600px;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: x-large;
    }
    .carousel-inner {
        height: 350px;
    }
}

@media screen and (max-width: 760px) {
    body {
        font-size: x-large;
    }
    #about-me {
        margin: auto;
        float: left;
        text-align: center;
    }
    .img-thumbnail {
        height: 200px;
        float: left;
    }
    .carousel-inner {
        height: 260px;
    }
    
}

@media screen and (max-width: 480px) {
    .carousel-inner {
        height: 180px;
    }
    
}