/* custom css */
body {
    background-color: #efeeef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}
.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
}
#portBody {
    color: white;
    background-color: #b84900;
}
#profilePic {
    width: 100%;
}
.carousel-inner {
    height: 600px;
}
#portCard {
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    #profilePic {
        width: 45%;
        margin-left: 25%;
    }
    body {
        font-size: x-large;
    }
}
@media screen and (max-width: 1000px) {
    #profilePic {
        width: 45%;
        display: none;
    }
    .navbar-brand {
        font-size: 60px;
    }
    .navbar {
        font-size: 45px;
    }
    .navbar-toggler-icon {
        height: 80px;
        width: 80px;
    }
    #aboutHeader {
        font-size: 50px;
        font-weight: bold;
    }
    #description {
        font-size: 40px;
    }
    #followMe {
        width: 100%;
    }
    #followmeHeader {
        font-size: 35px;
    }
    #followmeText {
        font-size: 25px;
    }
    body {
        font-size: xx-large;
    }
    .carousel-inner {
        height: 350px;
    }
    .footer {
        height: 110px;
    }
    #footerIcon {
        font-size: 35px;
    }
    #inputBox {
        height: 100px;
    }
    #portDes {
        display: none;
    }
}
@media screen and (max-width: 760px) {
    #about-me {
        margin: auto;
        float: left;
        text-align: center;
    }
    .img-thumbnail {
        height: 200px;
        float: left;
    }
    .carousel-inner {
        height: 260px;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: xx-large;
    }
    .carousel-inner {
        height: 180px;
    }
    
}